<!doctype html>
<title>掲示板一覧</title>
<link rel="stylesheet" href="/static/css/board.css">
{% if username %}
  <a>ようこそ{{ username }}さん</a>
{% endif %}

<h1>掲示板一覧</h1>
<div>
  <a href="/index">メニューに戻る</a>
  <table>
    <tr>
      <th>タイトル</th>
      <th>記事</th>
      <th>出欠席確認あり</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    {% for content in contents %}
    <tr>
        <td>{{ content.title }}</td>
        <td>{{ content.msg|safe }}</td>
        <td>{{ content.absence }}</td>
        <td><a href="/edit/{{ content._id }}">編集</a></td>
        <td><a href="/delete/{{ content._id }}">削除</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
