<!doctype html>
<title>掲示板【{{ title }}】</title>
<link rel="stylesheet" href="/static/css/board.css">
<script src="/static/js/jquery-3.4.0.min.js"></script>
<script src="/static/js/board.js"></script>

<h1>{{ title }}</h1>
<div>
  <div id="msg"></div>
  <input type="hidden" name="content_id" id="content_id" value="{{ content_id }}" />
  <p>{{ msg|safe }}</p>
  <table>
  {% for absence in absences %}
    <tr>
      <td>{{ absence.name }}</td>
      <td><input type="checkbox" name="join" value="{{ absence.user_id }}" {{ absence.join }} ></td>
    </tr>  
  {% endfor %}
  </table>

</div>
